<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="container">
                <h2>QUẢN LÝ NHÂN VIÊN</h2>
                <form action="/manager/staffDetail" method="post">
                    <div class="form-group">
                        <label for="staffId">Tên nhân viên: </label>
                        <select class="form-control" name="staffId">
                            <% staffs.forEach(staff=> { %>
                                <option value="<%= staff._id %> ">
                                    <%= staff.name %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <button class="btn btn_info" type="submit">CHỌN </button>
                </form>

            </div>
        </main>
        <%- include('../includes/end.ejs') %>