<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="container">

                <h1>ĐIỂM DANH </h1>
                <p>
                    <%= staffName %>
                </p>
                <p>
                    <%= workTime.workSpace %>
                </p>
                <p>
                    <%= workTime.startTime %>
                </p>

                <form action="/attendance" method="post">

                    <button class="btn" type="submit">KẾT THÚC LÀM VIỆC</button>
                    <input type="hidden" name="workTimeId" value="<%= workTime._id %>">
                </form>


            </main>
            <%- include('../includes/end.ejs') %>
    </body>