<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="container">

                <h1>ĐIỂM DANH </h1>
                <p>
                    <%= staffName %>
                </p>
                <p>

                    <% if(workTime.workSpace==='company' ){ %>
                        Công ty
                        <% } else if(workTime.workSpace==='home' ){ %>
                            Nhà
                            <% }else{ %>
                                Khách hàng
                                <% } %>
                </p>
                <p>
                    <%= moment(workTime.startTime).format('DD/MM/YYYY, h:mm:ss a') %>
                </p>

                <form action="/attendance" method="post">
                    <button class="btn" type="submit">KẾT THÚC LÀM VIỆC</button>
                </form>


            </main>
            <%- include('../includes/end.ejs') %>
    </body>