<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="container">

                <!-- Nav pills -->
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="btn nav-link active" data-toggle="pill" href="#home">ĐIỂM DANH</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn nav-link" data-toggle="pill" href="#offTime">NGHỈ PHÉP</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <%- include('../staff/sign.ejs') %>

                        <%- include('../staff/timeOff.ejs') %>

                </div>
            </main>
            <%- include('../includes/end.ejs') %>